@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
span {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

// Couleurs du site

$grey-light: #f6f6f6;
$white: #ffffff;
$dark-grey: #353535;
$green-light: #99e2d0;
$dark-green: #1a8a68;
$black: #000000;
$purple: #9356dc;

// Mixin

@mixin mix-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//loader

.loader {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  position: fixed;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 3s;
  animation-fill-mode: forwards;
}
.loader .box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  transition: transform 0.3s cubic-bezier(0.23, 1.83, 0.42, 1.19);
}
.loader p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  letter-spacing: 3px;
}
.circle--1 {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  animation: 1s linear infinite alternate boxmagic, 4s linear infinite spinning;
}

@keyframes boxmagic {
  from {
    box-shadow: 0 0 0 #cec5be, 0 0 0 #df29f3, 0 0 0 #0a5e64, 0 0 0 #019934;
  }
  to {
    box-shadow: 0 -10px 0 #fad3ac, -10px 0 0 #f192fc, 0 10px 0 #21effd,
      10px 0 0 #09e452;
  }
}
@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 80%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

//Header

header {
  @include mix-flex;
  padding: 15px;
  box-shadow: 0px 5px 5px lightgrey;
  margin-bottom: 3px;

  .header__logo {
    width: 50%;
  }
}

//Heroheader

.location {
  @include mix-flex;
  font-weight: 500;
  background-color: #eaeaea;
  height: 50px;
}
.location i {
  margin-right: 16px;
}

.heroheader {
  padding: 0 5vw;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(white, $grey-light);

  &__title {
    @include mix-flex;
    font-size: 25px;
    margin: 40px 0px 15px 0px;
  }

  &__button {
    @include mix-flex;
    font-weight: 700;
    border-radius: 30px 30px 30px 30px;
    padding: 14px 17px;
    margin: 30px 0px 25px 0px;
    background: linear-gradient(#ff79da, #9356dc);
    border: none;
    text-decoration: none;
    color: $white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  }
  &__button:hover {
    background: linear-gradient(#eb58c1, #935fd8);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    animation: vibrate 0.4s;
  }
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

//Fonctionnement

.fonctionnement__title {
  font-weight: 800;
  margin: 40px 0px 20px 15px;
}
.fonctionnement .card__fonctionnement {
  border-radius: 19px 19px 19px 19px;
  padding: 23px 17px;
  margin: 10px 15px 20px 30px;
  text-decoration: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  font-weight: bolder;
}
.card__fonctionnement:hover {
  background: linear-gradient(#eee6ec, #d5c4eb);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
}
.fonctionnement__button {
  @include mix-flex;
  padding: 4px 8px;
  background-color: #9356dc;
  color: $white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
}

//Icon

.icon__fonction {
  position: relative;
  margin-right: 22px;
  margin-left: 15px;
  color: grey;

  .icon__fonction {
    position: relative;
    margin-right: 20px;
    margin-left: 15px;
    color: grey;
  }
}
.icon__fonction--store {
  position: relative;
  margin-right: 20px;
  margin-left: 15px;
  color: grey;
}
.icon__fonction:hover {
  color: $purple;
}
.icon__fonction--store:hover {
  color: $purple;
}

//Card

.restaurants {
  background-color: $grey-light;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 80px;
  margin-top: 60px;

  .article {
    position: relative;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
  }
}
.article:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h3 {
    color: $black;
    margin-top: 5px;
    margin-left: 15px;
  }

  .card-subtitle {
    color: $black;
    margin-top: 2px;
    margin-left: 15px;
  }
}
a {
  text-decoration: none;
}

.far-heart {
  opacity: 1;
  margin-right: 23px;
  margin-top: 16px;
  font-size: x-large;
}

.fas-heart {
  opacity: 0;
  position: absolute;
  margin-right: 23px;
  margin-top: 16px;
  font-size: x-large;
}

//heart animation

.fas-heart:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(red, $purple);
  transition: all 1s;
  transform: scale(1);
}

//card NEWW

.section-restaurants .card-new {
  position: absolute;
  font-weight: bolder;
  right: 15px;
  bottom: 175px;
  padding: 7px 10px;
  background-color: $green-light;
  color: $dark-green;
  animation-duration: 1.5s;
  animation-name: clignotement;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignotement {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//footer

.footer {
  height: 186px;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: $dark-grey;
  color: $white;

  .logo__footer {
    color: $white;
    font-family: "Shrikhand", serif;
    font-size: 22px;
    margin-left: 25px;
  }
}
.footer p {
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 18px;

  .fa-utensils {
    margin-right: 15px;
  }
  .fa-hands-helping {
    margin-right: 10px;
  }
}
//desktop

@media screen and (min-width: 768px) {
  //header

  header .header__logo {
    width: 15%;
  }
  .heroheader {
    padding-bottom: 10px;
  }
  .heroheader h3 {
    font-size: 35px;
  }

  //fonctionnement
  .container {
    max-width: 1080px;
    margin: auto;
    position: relative;
  }

  .fonctionnement {
    @include mix-flex;
    flex-wrap: wrap;
  }
  h2 {
    width: 100%;
    padding: 0px 30px;
  }
  .card__fonctionnement {
    width: 24%;

    .fonctionnement__button {
      @include mix-flex;
      position: relative;
      width: 7px;
      height: 16px;
      border-radius: 50%;
      left: -30px;
      margin-bottom: -21px;
    }
  }

  //restaurants

  .section-restaurants {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .section-restaurants a {
    width: 40%;
    margin-top: 20px;
    gap: 40px;
  }

  .section-restaurants h1 {
    width: 100%;
    font-size: x-large;
    padding: 0px 50px;
  }

  //footer

  .footer {
    height: 60px;

    .footer-info {
      width: auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 25px;

      .logo__footer {
        margin-right: 60px;
      }
    }
  }

  .footer-info .test {
    display: flex;
    flex-direction: row;

    .p-desktop {
      display: flex;
      flex-direction: row;
      margin-right: 50px;
      margin-left: 30px;
    }
  }
}
