@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Shrikhand&display=swap");
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
span {
  font-family: "Roboto", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main {
  background-color: #f6f6f6;
}
p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
// Couleurs du site

$grey-light: #eaeaea;
$white: #f6f6f6;
$light-white: #ffff;
$dark-grey: #353535;
$green-light: #99e2d0;
$dark-green: #1a8a68;
$black: #000000;
$purple: #9356dc;

// Mixin

@mixin mix-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin font-normal {
  font-style: normal;
}

//Header

.header {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 12px;

  a {
    position: absolute;
    font-size: x-large;
    left: 35px;
    top: 26px;
    color: $black;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
  }
}

//head

.img__head {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.title__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: $white;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  transform: translateY(-50px);
  padding-top: 35px;
  margin-bottom: 0px;

  h1 {
    @include font-normal;
    font-family: "Shrikhand", serif;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
  }
}

.fa-heart {
  margin-right: 35px;
  font-size: 25px;
}

//menu

.menu .entrees {
  background-color: $white;
  margin-top: -30px;
}

//titre entrées

.menu {
  margin-bottom: 10px;

  h2 {
    color: $black;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 19px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 50px;
  }
}
.menu__underline {
  border-bottom: 3px solid $green-light;
  width: 13%;
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
}

//card

.card {
  border-radius: 19px 19px 19px 19px;
  margin: 15px 10px 10px 10px;
  text-decoration: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: $light-white;
  font-weight: bolder;

  &__title {
    @include font-normal;
    padding-top: 15px;
    margin-left: 17px;
    font-size: 18px;
    font-weight: bold;
    display: block;
  }
}
.card__subtitle {
  @include font-normal;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: -10px;

  p {
    font-style: normal;
    font-family: "roboto";
    font-weight: 300;
    margin-bottom: 10px;
    margin-left: 27px;
    margin-top: 5px;
    font-size: 90%;
  }
  .card__price {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
}

//Bouton commander

.section__button {
  @include mix-flex;
  padding: 20px;
}

.button {
  @include mix-flex;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: medium;
  width: 47%;
  border-radius: 30px;
  padding: 17px;
  margin: 18px 18px;
  border: none;
  color: $light-white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.button:hover {
  background: linear-gradient(#eb58c1, #935fd8);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
//footer

.logo__footer {
  color: $white;
  font-family: "Shrikhand", serif;
  font-size: 22px;
  margin-left: 27px;
}

.footer {
  height: 180px;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: $dark-grey;
  color: $white;

  p {
    margin-bottom: 10px;
    margin-left: 27px;
    font-size: 18px;

    .fa-utensils {
      margin-right: 15px;
    }
  }
}

.footer .p-first {
  margin-top: 20px;
}
.fa-hands-helping {
  margin-right: 10px;
}

//desktop

@media screen and (min-width: 768px) {
  main {
    background: #ffff;
  }

  .menu article {
    max-width: 634px;
    margin: auto;
    position: relative;
    padding-right: 230px;
    padding-left: 230px;
    background-color: $white;
  }
  .menu__underline {
    width: 7%;
  }
  .header .logo {
    padding-bottom: 10px;
  }
  .container {
    max-width: 1055px;
    margin: auto;
    position: relative;
    background-color: $white;
  }
  .title__head {
    @include mix-flex;
    gap: 30px;
    max-width: 1055px;
    margin: auto;
    position: relative;
    background-color: $white;
    padding-bottom: 43px;
    margin-bottom: -52px;
  }
  .button {
    width: 20%;
  }
  .img__head {
    height: 350px;
  }
  //footer

  .footer {
    height: auto;

    .footer-info {
      width: auto;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 20px;

      .logo__footer {
        margin-bottom: 10px;
        margin-right: 60px;
        font-family: "Shrikhand", serif;
      }
    }
  }

  .footer-info .test {
    display: flex;
    flex-direction: row;

    .p-desktop {
      display: flex;
      flex-direction: row;
      margin-right: 50px;
      margin-left: 30px;
    }
  }
}
